.middle-section-2-mainParent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section-2-middle-section {
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
  height: 100vh;
  position: relative;
}

.middle-section-2-profile-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  gap: 40px;
  align-items: center;
  padding: 5px;
  font-size: 20px;
}

.middle-section-2-profile-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.nameAndEdit {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.middle-section-2-profile-info h2 {
  font-size: 17px;
}

.middle-section-2-imageContainer {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.middle-section-2-profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.middle-section-2-profile-header div {
  display: flex;
  flex-direction: column-reverse;
}

.middle-section-2-profile-buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.middle-section-2-about-section {
  padding: 5px 0px;
}

.middle-section-2-about-section h3 {
  text-align: start;
}

.middle-section-2-about-section p {
  text-align: start;
  font-size: 14px;
}
.middle-section-2-btn {
  background: linear-gradient(to bottom, #ffe9ed, white);
  color: black;
  border: 1px solid black;
  padding: 8px 10px;
  width: 150px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  
}

.middle-section-2-skill-list {
  display: flex;
  align-items: center;
   gap: 10px;
  
  padding: 5px;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: wrap;
}
.middle-section-2-headingAndIcons{
  display: flex;
  justify-content: space-between;
}
.middle-section-2-skill-list .middle-section-2-skillsMiniDiv {
  background-color: #f3efef;
  border-radius: 5px;
  padding: 5px 10px;
}
.middle-section-2-skills-section h3{
  text-align: start;
}

.middle-section-2-main-education {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.middle-section-2-education-headingAndEdit {
  display: flex;
  justify-content: space-between;
}

.middle-section-2-buttons-section {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.middle-section-2-headingAndEdit{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2px ;

 
}
.middle-section-2-headingAndEdit  .middle-section-2-icon{
 cursor: pointer;
}
.middle-section-2-upload-section h6 {
text-align: start;
font-weight: 100;
font-size: 15px;
 

}

.middle-section-2-upload-section h6 {
font-weight: 100;

}

.middle-section-2-upload-section h3 {
text-align: start;

font-size: 20px;
 

}

@media (min-width: 1024px) {
  .middle-section-2-main-education {
      gap: 20px;
  }
  .middle-section-2-buttons-section {
      gap: 24px;
  }
}


@media (min-width: 1024px) {
  .middle-section-2-btn {
      width: 120px;
      font-size: 13px;
      padding: 12px 15px;
  }
}


@media (min-width: 1024px) and (max-width: 1062px) {
  .middle-section-2-middle-section {
    width: 40vw;
    padding: 30px;
  }
  .middle-section-2-imageContainer {
    width: 90px;
    height: 90px;
  }

  .middle-section-2-profile-header {
    font-size: 20px;
  }
  .middle-section-2-profile-info h2 {
    font-size: 20px;
  }
  .middle-section-2-about-section p {
    font-size: 16px;
  }
  .middle-section-2-collabratorDetails {
    width: 150px;
  }
  .middle-section-2-collabratorDetails h4 {
    font-size: 18px;
  }
  .middle-section-2-collabratorDetails .middle-section-2-subCollabrators h6 {
    font-size: 10px;
  }
  .middle-section-2-blur {
    height: 200px;
  }
  .middle-section-2-blur h2,
  .middle-section-2-blur h3 {
    font-size: 26px;
  }
}
