.middle-section-2-headingAndEdit{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2px ;

   
 }
 .middle-section-2-headingAndEdit  .middle-section-2-icon{
   cursor: pointer;
 }
 .middle-section-2-upload-section h6 {
 text-align: start;
 font-weight: 100;
 font-size: 15px;
   

 }

 .middle-section-2-upload-section h6 {
  font-weight: 100;
  
 }
 
 .middle-section-2-upload-section h3 {
 text-align: start;

 font-size: 20px;
   

 }