.middle-section-2-btn {
  background: linear-gradient(to bottom, #ffe9ed, white);
  color: black;
  border: 1px solid black;
  padding: 8px 10px;
  width: 150px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  
}

@media (min-width: 1024px) {
  .middle-section-2-btn {
      width: 120px;
      font-size: 13px;
      padding: 12px 15px;
  }
}